<!--Componente hijo de la Home para mostrar 
las noticias en detalle-->
<div class="margen container">
    <br><br><br>
    
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-md-6" >
                <div class="card-body" >
                    <h5 class="card-title">{{New[1].new_title}}</h5>
                    <p class="card-text pt-5">{{New[1].new_description}}</p>
                    <p class="card-text"><small class="text-muted">Last updated: {{New[1].new_date}}</small></p>
                    <p><img src="{{New[1].author_img}}" height="30" class="rounded-circle">&nbsp;<small>{{New[1].author_name}}</small></p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="{{New[1].new_img}}" class="img-fluid rounded float-end">
            </div>
        </div>
    </div>
    
</div>
