<!--Componente hijo de la Home para mostrar 
las noticias en detalle-->
<div class="margen container">
    <br><br><br>
    <p>newsdetail works!</p>
    <!-- <div class="row g-0">
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title text-center">{{item.new_title}}</h5>
                <p class="card-text pt-5">{{item.new_description}}</p>
                <p class="card-text"><small class="text-muted">Last updated: {{item.new_date}}</small></p>
                <p><img src="{{item.author_img}}" height="30" class="rounded-circle">&nbsp;<small>{{item.author_name}}</small></p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{{item.new_img}}" class="img-fluid rounded-start">
        </div>
    </div> -->
</div>
