<div class="container">
    <!-- ngFor and ngIf to take only 1 time the logo and name of the competition -->
    <div *ngFor="let item of Competitions[1];let i = index">
        <div *ngIf="i== 0" class="margen">
            <img class="col-1" src="{{ item.logo_league }}"/>
              <h4 class="col-3 display-6 linea ms-3">{{ item.name_league }}</h4> 
        </div>
    </div>
    
    <app-dashboard-pl></app-dashboard-pl>
    
        <table class="table table-borderless">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">Posicion</th>
                    <th></th>
                    <th class="d-none d-sm-block">Equipo</th>
                    <th>PJ</th>
                    <th>PG</th>
                    <th>PE</th>
                    <th>PP</th>
                    <th>Puntos</th>
                </tr>
            </thead>
    
            <tbody>
                <tr *ngFor="let item of Competitions[1];">
                    <td class="text-center" *ngIf="item.position<=4"><span class="badge rounded-pill bg-success fs-5">{{item.position}}</span></td>
                    <td class="text-center" *ngIf="item.position>4 && item.position<=6"><span class="badge rounded-pill bg-primary fs-5">{{item.position}}</span></td>
                    <td class="text-center" *ngIf="item.position==7"><span class="badge rounded-pill bg-info fs-5">{{item.position}}</span></td>
                    <td class="text-center" *ngIf="item.position>7 && item.position<=17"><span class="badge rounded-pill bg-dark fs-5">{{item.position}}</span></td>
                    <td class="text-center" *ngIf="item.position>17 && item.position<=20"><span class="badge rounded-pill bg-danger fs-5">{{item.position}}</span></td>
                    <td class="text-center"><img src="{{item.team_logo}}" height="30" width="30"></td>
                    <td class="d-none d-sm-block">{{item.name_team}}</td>
                    <td>{{item.played_games}}</td>
                    <td>{{item.games_win}}</td>
                    <td class="ps-2">{{item.games_draw}}</td>
                    <td class="ps-2">{{item.games_lost}}</td>
                    <td class="ps-4">{{item.points}}</td>
                </tr>
            </tbody>
        </table>

        <!-- color legend -->
        <div>
            <span class="badge rounded-pill bg-success fs-5">#</span> &nbsp;<i>Clasifican a UEFA Champions League</i><br><br>
            <span class="badge rounded-pill bg-primary fs-5">#</span> &nbsp;<i>Clasifican a UEFA Europa League</i><br><br>
            <span class="badge rounded-pill bg-info fs-5">#</span> &nbsp;<i>Clasifican a UEFA Europa Conference League</i><br><br>
            <span class="badge rounded-pill bg-black fs-5">#</span> &nbsp;<i>Mantienen su plaza en Premier League</i><br><br>
            <span class="badge rounded-pill bg-danger fs-5">#</span> &nbsp;<i>Descienden a English Football League Championship</i>
        </div>
        <br>
    </div>


    