<div class="margen container">
    <!-- Banner -->
    <div>
        <img src="" alt="">
    </div>

    <!--Noticias-->
    <!--Noticias principal-->
    <div class="row">
        <div class="col-12">
            <div *ngFor="let item of News[1]; let i = index" ><!--[item]="item" [i]="i"-->
                <!--Noticia grande-->
                <div *ngIf="i === 0" class="card mb-3" style="max-width: 100%;">
                    <a href="" (click)="openWindow(item.id)" rel="noopener noreferrer" class="text-decoration-none text-black">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <img src="http://127.0.0.1:8000/storage/news/{{item.new_img}}" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{item.new_title}}</h5>
                                    <p class="card-text pt-5">{{item.new_description}}</p>
                                    <p class="card-text"><small class="text-muted">Last updated: {{item.created_at | date:'short'}}</small></p>
                                    <p><img src="{{item.author_img}}" height="30" class="rounded-circle">&nbsp;<small>{{item.author_name}}</small></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div> 

    <!--Pruebas 1 carousel 
    <div class="container text-center my-3">
        <h2 class="font-weight-light">Bootstrap Multi Slide Carousel</h2>
        <div class="row mx-auto my-auto justify-content-center">
            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div *ngFor="let item of News[1]; let i = index" class="carousel-inner" role="listbox">
                    <div class="carousel-item active ">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="{{item.new_img}}" class="img-fluid">
                                </div>
                                <div class="card-img-overlay">{{item.new_title}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="//via.placeholder.com/500x400/e66?text=2" class="img-fluid">
                                </div>
                                <div class="card-img-overlay">Slide 2</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="//via.placeholder.com/500x400/7d2?text=3" class="img-fluid">
                                </div>
                                <div class="card-img-overlay">Slide 3</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="//via.placeholder.com/500x400?text=4" class="img-fluid">
                                </div>
                                <div class="card-img-overlay">Slide 4</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="//via.placeholder.com/500x400/aba?text=5" class="img-fluid">
                                </div>
                                <div class="card-img-overlay">Slide 5</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="//via.placeholder.com/500x400/fc0?text=6" class="img-fluid">
                                </div>
                                <div class="card-img-overlay">Slide 6</div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <h5 class="mt-2 fw-light">advances one slide at a time</h5>
    </div>-->

    <!--Prueba 2 carousel no funciona cambiar viarbales-->
    <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let item of News[1]; let first = first" [class.active]="first">
                <img class="d-block w-100" [src]="item.new_img" [alt]="item.new_title">
                <div class="carousel-caption">
                    <h5>{{ item.new_title }}</h5>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div> -->

    <!--Noticia pequeños-->
    <div class="row">       
        <div *ngFor="let item of News[1]; let i = index" class="col-4">
            <div class="card mb-3">    
                <a href="" (click)="openWindow(item.id)" rel="noopener noreferrer" class="text-decoration-none text-black">
                    <img src="http://127.0.0.1:8000/storage/news/{{item.new_img}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{item.new_title}}</h5>
                        <p class="card-text"><small class="text-muted">Last updated: {{item.created_at | date:'short'}}</small></p>
                        <p><img src="{{item.author_img}}" height="30" class="rounded-circle">&nbsp;<small>{{item.author_name}}</small></p>
                    </div>
                </a>
            </div>
        </div><!--Cierre ngfor-->
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-link" (click)="loadMore()">Mas noticias</button>
        </div>
        
    </div> <!--Cierre Noticia pequeños-->

    <!--News details test
    <app-newsdetail></app-newsdetail>-->


    <div class="text-center">
        <iframe src="https://www.scorebat.com/embed/?token=NjY0MDNfMTY4MzgwOTI0N19mNmRlMGM3NTQwMmQ3ODY3YzI2NGI4YmQ5MWFjYmI5YzM2N2JjZDM1" frameborder="0" width="1000" height="1250" allowfullscreen allow='autoplay; fullscreen'  class="_scorebatEmbeddedPlayer_"></iframe><script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://www.scorebat.com/embed/embed.js?v=arrv';
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'scorebat-jssdk'));</script>
    </div>

    <!-- Banner -->

    <!-- Icono logos --> 
    <div class="container p-5">
        <div class="row text-center justify-content-center">
            <div class="col-1">
                <h1><fa-icon [icon]="faTwitter"></fa-icon></h1>
            </div>
            <div class="col-1">
                <h1 class="bi bi-twitter"><fa-icon [icon]="faFacebook"></fa-icon></h1>
            </div>
            <div class="col-1">
                <h1 class="bi bi-facebook"><fa-icon [icon]="faInstagram"></fa-icon></h1>
            </div>
            <div class="col-1">
                <h1 class="bi bi-tiktok"><fa-icon [icon]="faTiktok"></fa-icon></h1>
            </div>
        </div>
    </div>

</div>