<div class="container">
    <!-- Banner -->
    <div>
        <img src="" alt="">
    </div>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11">
                <div class="card mb-3" style="max-width: 100%;">
                    <a href="https://onefootball.com/es/noticias/oficial-laporta-habla-este-lunes-sobre-el-caso-negreira-37205363" class="text-decoration-none text-black">
                            <div class="row g-0">
                            <div class="col-md-6">
                                <img src="../../../assets/img/laporta.avif" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                <h5 class="card-title text-center">Loren Ipsum</h5>
                                <p class="card-text pt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales facilisis felis nec interdum.
                                    Praesent nisl magna, aliquam rutrum dolor luctus, aliquet aliquam magna. In dapibus, nulla</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <p><img src="../../../assets/img/a.png" height="30">&nbsp;<small>Anthony Reyes</small></p>
                                </div>
                            </div>
                            </div>
                            </a>
                        </div>
            </div>
        </div>
        
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card m-5" style="width: 18rem;"><a href="https://onefootball.com/es/noticias/las-dos-joyas-que-puede-perder-el-barca-este-verano-37205769" class="text-decoration-none text-black">
                    <img src="../../../assets/img/gaviyaraujo.avif" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Lorem ipsum dolor sit amet, consect</h5>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <p><img src="../../../assets/img/a.png" height="30">&nbsp;<small>Anthony Reyes</small></p>
                    </div>
                    </a>
                  </div>
            </div>

            <div class="col-4">
                <div class="card m-5" style="width: 18rem;" ><a href="https://onefootball.com/es/noticias/este-es-el-once-ideal-de-agentes-libres-en-el-verano-de-2023-37206076" class="text-decoration-none text-black">
                    <img src="../../../assets/img/messi.avif" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Lorem ipsum dolor sit amet, consect</h5>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <p><img src="../../../assets/img/a.png" height="30">&nbsp;<small>Anthony Reyes</small></p>
                    </div>
                    </a>
                  </div>
            </div>

            <div class="col-4">
                <div class="card m-5" style="width: 18rem;"><a href="https://onefootball.com/es/noticias/este-es-el-once-ideal-de-agentes-libres-en-el-verano-de-2023-37206076" class="text-decoration-none text-black">
                    <img src="../../../assets/img/gaviyaraujo.avif" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Lorem ipsum dolor sit amet, consect</h5>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <p><img src="../../../assets/img/a.png" height="30">&nbsp;<small>Anthony Reyes</small></p>
                    </div>
                    </a>
                  </div>
            </div>
        </div>
    </div>

    <!-- Banner -->

    <div class="container p-5">
        <div class="row text-center justify-content-center">
            <div class="col-1">
                <h1 class="bi bi-instagram"></h1>
            </div>
            <div class="col-1">
                <h1 class="bi bi-twitter"></h1>
            </div>
            <div class="col-1">
                <h1 class="bi bi-facebook"></h1>
            </div>
            <div class="col-1">
                <h1 class="bi bi-tiktok"></h1>
            </div>
        </div>
    </div>


</div>