<div class="container py-5 mt-5">
<div class="row justify-content-center p-3">
    <div class="col-sm-10 col-lg-5 border border-secondary rounded p-5">
        <div class="">
            <span><a routerLink="" class="text-decoration-none">&lt;- Volver</a></span>
            <form action="" class="row g-4 justify-content-center text-center" [formGroup]="login" (ngSubmit)="submit()">
                <h3>Login</h3>
                <div class="col-12">
                    <div class="input-group">
                        <input type="text" class="form-control" formControlName="email" placeholder="Email">
                        <span *ngIf="this.login.get('email')?.errors?.['required'] && this.login.get('email')?.pristine" class="text-danger mt-2">
                            &nbsp; *
                        </span>
                        <span *ngIf="this.login.get('email')?.errors?.['required'] && this.login.get('email')?.touched" class="text-danger mt-2">
                            &nbsp; Este campo es obligatorio
                        </span>
                        <span *ngIf="this.login.get('email')?.errors?.['pattern'] && this.login.get('email')?.touched" class="text-danger mt-2">
                            &nbsp; Tiene que tener formato email
                        </span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="input-group">
                        <input type="password" formControlName="pass" class="form-control" placeholder="Contraseña">
                        <span *ngIf="this.login.get('pass')?.errors?.['required'] && this.login.get('pass')?.pristine" class="text-danger mt-2">
                            &nbsp; *
                        </span>
                        <span *ngIf="this.login.get('pass')?.errors?.['required'] && this.login.get('pass')?.touched" class="text-danger mt-2">
                            &nbsp; Este campo es obligatorio &nbsp;
                        </span>
                        <span *ngIf="this.login.get('pass')?.errors?.['minlength'] && this.login.get('pass')?.touched" class="text-danger mt-2">
                            &nbsp; Longitud minima es 6 &nbsp;
                        </span>
                    </div>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary px-5 mt-4">Iniciar</button>
                </div>
                <div class="col-12">
                    <span>
                        Si no tienes cuenta <a routerLink="/register" class="text-decoration-none">Registrate</a>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
