<div class="container">
    <div class="row text-center">
        <div class="col-3 offset-1 ">
            <p class="border border-dark rounded">
                <a href="#" class="text-decoration-none text-black">Ayer</a> 
            </p>
        </div>
        <div class="col-3">
            <p class="border border-dark rounded ">
                <a href="#" class="text-decoration-none text-black">Hoy</a>
            </p>
        </div>
        <div class="col-3">
            <p class="border border-dark rounded">
                <a href="#" class="text-decoration-none text-black">Mañana</a>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <h5>Partidos de hoy</h5>
    <!-- logo competicion desde la base de datos -->
    <img src="" alt="">
    <h6>nombre competicion</h6>
    <div class="row">
        <div class="col">
            prueba
        </div>
    </div>
</div>