<footer class="bg-cyan">
    <div class="text-center">
        <img src="../../../assets/img/logoPetit.png" alt="fullsports" width="200" class="img-fluid">
    </div>
    <div class="row p-3 justify-content-evenly">
        <div class="col-2">
            <h6>ABOUT US</h6>
            <ul class="list-group">
                <li class="list-group-item">Lorem ipsum</li>
                <li class="list-group-item">Lorem ipsum</li>
                <li class="list-group-item">Lorem ipsum</li>
                <li class="list-group-item">Lorem ipsum</li>
            </ul>
        </div>
        <div class="col-2">
            <h6>HELP</h6>
            <ul class="list-group">
                <li class="list-group-item">Lorem ipsum</li>
                <li class="list-group-item">Lorem ipsum</li>
                <li class="list-group-item">Lorem ipsum</li>
                <li class="list-group-item">Lorem ipsum</li>
            </ul>
        </div>
        <div class="col-2">
            <h6>LEGAL</h6>
            <ul class="list-group">
                <li class="list-group-item">Lorem ipsum</li>
                <li class="list-group-item">Lorem ipsum</li>
                <li class="list-group-item">Lorem ipsum</li>
                <li class="list-group-item">Lorem ipsum</li>
            </ul>
        </div>
    </div>
</footer>