<footer class="bg-cyan">
    <div class="text-center">
        <img src="../../../assets/img/logoPetit.png" alt="fullsports" width="200" class="img-fluid">
    </div>
    <div class="row p-3 justify-content-evenly">
        <div class="col-sm-6 col-md-3 mx-auto mb-4 text-sm-center">
            <h4 class="fw-bold">ABOUT US</h4>
            <ul class="list-group">
                <li class="list-group-item bg-transparent border-0">Lorem ipsum</li>
                <li class="list-group-item bg-transparent border-0">Lorem ipsum</li>
                <li class="list-group-item bg-transparent border-0">Lorem ipsum</li>
                <li class="list-group-item bg-transparent border-0">Lorem ipsum</li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-3 mx-auto mb-4 text-sm-center">
            <h4 class="fw-bold">HELP</h4>
            <ul class="list-group">
                <li class="list-group-item bg-transparent border-0">Lorem ipsum</li>
                <li class="list-group-item bg-transparent border-0">Lorem ipsum</li>
                <li class="list-group-item bg-transparent border-0">Lorem ipsum</li>
                <li class="list-group-item bg-transparent border-0">Lorem ipsum</li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-3 mx-auto mb-4 text-sm-center">
            <h4 class="fw-bold">LEGAL</h4>
            <ul class="list-group">
                <li class="list-group-item bg-transparent border-0">Lorem ipsum</li>
                <li class="list-group-item bg-transparent border-0">Lorem ipsum</li>
                <li class="list-group-item bg-transparent border-0">Lorem ipsum</li>
                <li class="list-group-item bg-transparent border-0">Lorem ipsum</li>
            </ul>
        </div>
    </div>
</footer>