<app-dashboard-pl></app-dashboard-pl>

<div class="text-center" id="scoreaxis-widget-a60f3" style="border-width:0px;border-color:rgba(0, 0, 0, 0.15);border-style:solid;border-radius:8px;padding:10px;background:rgb(255, 255, 255);width:100%;">
    <iframe id="Iframe" src="https://www.scoreaxis.com/widget/league-top-players/8?autoHeight=0&amp;playersNumber=10&amp;teamLogo=1&amp;fontSize=16&amp;inst=a60f3"
     style="width:1000px;height:780px;border:none;transition:all 300ms ease">
    </iframe>
    <script>window.addEventListener("DOMContentLoaded",event=>{window.addEventListener("message",event=>{if(event.data.appHeight&&"a60f3"==event.data.inst){let container=document.querySelector("#scoreaxis-widget-a60f3 iframe");
    container&&(container.style.height=parseInt(event.data.appHeight)+"px")}},!1)});</script>
</div>




