<nav class="navbar navbar-expand-lg bg-cyan fixed-top">
  <div class="container-fluid">
    <a routerLink="/home">
      <img src="../../../assets/img/logoPetit.png" class="img-fluid"  width="200">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-5 " id="navbarSupportedContent ">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/games">Partidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">Equipos</a>
        </li>


        <li class="nav-item dropdown dropdown-hover position-static">
          <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="button"
            data-mdb-toggle="dropdown" aria-expanded="false">
            Competiciones
          </a>
          <!-- Dropdown menu -->
          <div class="dropdown-menu w-50 mt-0" aria-labelledby="navbarDropdown">
            <div class="container">
              <div class="row my-4">
                <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
                  <div class="list-group list-group-flush">
                    <h5 class="fa-solid fa-futbol "><fa-icon [icon]="faFutbol"></fa-icon>&nbsp; Futbol</h5>
                    <a routerLink="/LaLigaGames" class="list-group-item list-group-item-action"><img src="../../../assets/img/laliga-removebg-preview.png" height="30" alt="">&nbsp; LaLiga</a>
                    <a routerLink="/PLGames" class="list-group-item list-group-item-action"><img src="../../../assets/img/premier.png" height="30" alt="">&nbsp; Premier League</a>
                    <a routerLink="" class="list-group-item list-group-item-action"><img src="../../../assets/img/champions.png" height="30" alt="">&nbsp; UEFA Champions League</a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
                  <div class="list-group list-group-flush">
                    <h5 class="fa-solid fa-futbol"><fa-icon [icon]="faBasketball"></fa-icon>&nbsp; Baloncesto</h5>
                    <a routerLink="/games" class="list-group-item list-group-item-action"><img src="../../../assets/img/nba.png" height="30" alt="">&nbsp; NBA</a>
                  </div>
                </div>

                </div>
              </div>
            </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/social">Social</a>
        </li>

      </ul>
      <span *ngIf="!isLoggedin" class="list-unstyled">
        <li class="nav-item" *ngIf="!isLoggedin">
          <a class="nav-link" routerLink="/login" *ngIf="!isLoggedin">Unete</a>
        </li>
      </span>
      <span class="list-unstyled" *ngIf="isLoggedin">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{username}}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" routerLink="/profile">Perfil</a></li>
            <li><button *ngIf="isLoggedin" (click)="logout()" class="btn btn-danger w-100">Logout</button></li>
          </ul>
        </li>

      </span>

    </div>
  </div>
</nav>
