.bg-cyan{
    background-color: #7DD3FC;
}

.dropdown-menu{
    width: max-content;
}


.dropdown-hover:hover>.dropdown-menu {
    display: inline-block;
    }
    
    .dropdown-hover>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
    }