<section>
  <div class="container mt-5 py-5">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
          <div class="card-body">
            <div class="">
              <div>
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-fluid">
              </div>
              <h5></h5>
              <h6>{{username}}</h6>
            </div>
            <div class="about">
              <h5>About</h5>
              <p>eri gei</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <div class="card h-100">
            <div class="card-body">
              <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <h6 class="mb-2 text-primary">Información personal</h6>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="fullName">Nombre</label>
                    <input type="text" class="form-control" id="name"  formControlName="name">
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="fullName">Apellido</label>
                    <input type="text" class="form-control" id="last_name" formControlName="last_name">
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="eMail">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email">
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <button type="button" class="btn btn-success mt-4">Cambiar contraseña</button>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="website">Contraseña Actual</label>
                    <input type="url" class="form-control" id="website" placeholder="Website url">
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="website">Contraseña Actual</label>
                    <input type="url" class="form-control" id="website" placeholder="Website url">
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="website">Contraseña Actual</label>
                    <input type="url" class="form-control" id="website" placeholder="Website url">
                  </div>
                </div>

                </div>


              <div class="row gutters mt-3">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="text-right">
                    <button type="button" routerLink="/home" class="btn btn-secondary">Cancel</button>
                    <button type="submit" id="submit" name="submit" class="btn btn-primary">Update</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>
