<div class="container py-5">
  <div>

  </div>
  <div class="col py-5">
    <a href="/social-add" class="btn btn-primary">Crear</a>
  </div>
  <div class="row">
    <div class="col py-5">

      <div class="card mb-3 " *ngFor="let item of Posts[1];">
        <a routerLink="/social-detail/{{item.id}}">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="http://127.0.0.1:8000/storage/posts/{{item.image}}" class="img-fluid w-100" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="text-secondary">{{item.username}}</p>
              <p class="card-text">{{item.body| slice:0:255}}</p>
              <p class="card-text"><small class="text-muted">{{item.created_at |date:'medium'}}</small></p>
            </div>
          </div>
        </div>
      </a>
      </div>
    </div>

  </div>
</div>
